uwsgi
flask
requests
joblib
nltk
numpy
scipy==1.4.1
scikit-learn==0.24.2
gensim==3.8.3
tensorflow==2.5.0
flask-cors
flask-restx
docstring-parser
git+https://github.com/davidlenz/pvtm
pandas
matplotlib==3.1.3
wordcloud
spacy
contextualized_topic_models==2.0.1
