uwsgi
flask
requests
joblib
nltk
numpy
scipy
scikit-learn==0.21.3
gensim
keras==2.3.1
tensorflow==1.15.5
flask-cors
flask-restx
docstring-parser
git+https://github.com/davidlenz/pvtm
pandas
matplotlib
wordcloud
spacy
contextualized_topic_models
